html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    max-width: 504pt;
}

table {
    width: 100%;
}
h1 {
    font-family: "Raleway";
    font-size: 24pt;
    margin-bottom: 0.2;
}

h2 {
    font-family: "Raleway";
    font-size: 16pt;
    margin: 0;
}

h3 {
    font-family: "Raleway";
    font-size: 12pt;
}

h4 {
    font-family: "Lato";
    font-size: 11pt;
    margin-bottom: 5px;
}

h5 {
    font-family: "Lato";
    font-size: 9pt;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: normal;
}

p {
    font-family: "Lato";
    font-size: 10pt;
    margin: 0;
}

li {
    font-family: "Lato";
    font-size: 11pt;
    margin-top: 5px;
}

.line {
    margin: 0;
}

.leftSide {
    width: 250px;
    vertical-align: top;
    padding-top: 25px;
}

#c1 {
    color: #f2511b;
}

.c2 {
    color: #d44500;
}

#sp {
    margin-top: 10px;
}

.bs {
    margin-bottom: 10px;
}